@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root{
    --a:0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
  height: 100vh;
}

.right {
  width: 75vw;
  position: relative;
  margin: 15px 0px;
  max-height: 100vh;
}

.home ul li {
  width: 14px;
  list-style: none;
  display: flex;
  gap: 15px;
  font-weight: bold;
  padding: 14px;
}

.heading {
  width: 100%;
  display: flex;
  gap: 15px;
  font-weight: bold;
  padding: 23px 14px;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 25px;
}

.liabrary {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 9px;
  gap: 10px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  height: 75px;
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.cardContainer {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 60vh;
  /* padding-bottom: 85px; */
}

.card {
  width: 148px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  transition: all .9s;
}

.card:hover {
    opacity: 1;
    background-color: rgb(72, 72, 72);
    transition: all 0.9s;
    cursor: pointer;
    --a:1;
}

.card > * {
  padding-top: 3px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 116px;
  right: 17px;
  opacity: var(--a);

  transition: all 1s ease-out;
}

.buttons {
  display: flex;
}

.buttons > * {
  margin: 0 12px;
}

.signupBtn {
  background-color: rgb(34, 34, 34);
  color: rgb(82, 82, 82);
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 16px;
}

.signupBtn:hover {
  font-size: 17px;
  cursor: pointer;
  color: white;
}

.loginBtn {
  background-color: white;
  border-radius: 21px;
  width: 85px;
  cursor: pointer;
  border: none;
  outline: none;
  color: black;
  padding: 0 7px;
  font-size: 16px;
}

.loginBtn:hover {
  font-weight: bold;
  font-size: 17px;
}

.info div {
  word-break: break-all;
}

.playbar {
  /* display: flex;
    justify-content: center;
    align-items: center; */
  position: fixed;
  z-index: 10;
  background-color: rgb(196 179 197 / 99%);
  filter: invert(1);
  min-height: 34px;
  width: 70%;
  padding: 12px;
  bottom: 10px;
  border-radius: 8px;
}

.songButtons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.songList .info {
  font-size: 0.75rem;
  width: 344px;
}

.songList {
  height: 400px;
  overflow: auto;
  margin-bottom: 34px;
}

.songList ul {
  padding: 0 4px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
  padding: 9px 19px;
  border: 2px solid white;
  margin: 9px 0;
  border-radius: 5px;
}

.spotifyPlaylists h1 {
  padding: 16px;
}

.playNow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playNow span {
  font-size: 10px;
  width: 64px;
  padding: 7px;
}

.seekbar {
  height: 4px;
  width: 98%;
  border-radius: 10px;
  background: black;
  position: absolute;
  bottom: -6px;
  margin: 14px -4px;
  cursor: pointer;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 13px;
  background: black;
  position: absolute;
  bottom: -5px;
  left: 0%;
  transition: left 0.5s;
}

.songButtons img {
  cursor: pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
}

.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songinfo {
  color: black;
  padding: 3px 8px;
}

.songtime {
  color: black;
  padding: 3px 8px;
  width: 155px;
}

.volume {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.range input {
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.close {
  display: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .left {
    width: 368px;
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    background-color: black;
    padding: 0;
  }

  .left .close {
    display: block;
    position: absolute;
    right: 30px;
    top: 14px;
    /* width: 23px; */
  }

  .right {
    width: 100vw;
    margin: 0;
  }

  .playbar {
    width: calc(100vw - 60px);
  }

  .songinfo,
  .songtime {
    width: auto;
  }

  .seekbar {
    width: calc(100vw - 57px);
  }

  .songButtons {
    gap: 8px;
  }

  .card {
    width: auto;
  }

  .timevol {
    flex-direction: column;
  }

  .cardContainer {
    margin: 0;
    justify-content: center;
    max-height: 60vh;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .abovebar {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 500px) {
    .card {
        width: auto;
    }
    .cardContainer {
      margin: 0;
      justify-content: center;
      max-height: 60vh;
    }
}